@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* font-family: 'Poppins', sans-serif; */


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    font-size: 1.5rem;
}

h2
{
    font-size: 1.25rem;
    font-weight: 400;
    color:hsl(234, 12%, 34%);
}

p
{
    color: hsl(229, 6%, 66%);
    font-size: 0.8rem;
}

img
{
    max-width: 100%;
    max-height: auto;
}

body
{   
    font-family: 'Poppins', sans-serif; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

main
{
    margin: 3% auto;
    width: 80%;
}

header
{
    text-align: center;
    margin: 4rem 0;
}

.head-dark
{   
    color: hsl(234, 12%, 34%);
    font-weight:600 ;
    margin-bottom: 1rem;
}

.head-light
{   
    color: hsl(234, 12%, 34%);
    font-weight:200;
}

section
{
    display: grid;
    gap: 2rem;
    margin-bottom: 3rem;
}

.middle
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card
{   
    background-color: #fff;
    padding: 1.125rem;
    border-radius: 0.5rem;
}

.card p
{
    margin: 0.5rem 0 1.5rem;
}

.card-img
{
    margin-left: 75%;
    width: 3.5rem;
}

.card-1
{
    box-shadow:0 0.25rem 1rem 0  rgba(0,0,0,0.2), 0 -0.3rem 0 -0.125rem hsl(180, 62%, 55%);
}

.card-2
{
    box-shadow:0 0.25rem 1rem 0  rgba(0,0,0,0.2), 0 -0.3rem 0 -0.125rem hsl(0, 78%, 62%);
}

.card-3
{
    box-shadow:0 0.25rem 1rem 0  rgba(0,0,0,0.2), 0 -0.3rem 0 -0.125rem hsl(34, 97%, 64%);
}

.card-4
{
    box-shadow:0 0.25rem 1rem 0  rgba(0,0,0,0.2), 0 -0.3rem 0 -0.125rem hsl(212, 86%, 64%);
}

@media (min-width:768px)
{
    h1
    {
        font-size: 2.5rem;
    }
    h2
    {
        font-size: 1.75rem;
    }
    p
    {
        font-size: 1rem;
    }
    .card-img
    {   
        width: 20%;
        height: 100%;
        margin: 0 10%  0 80%;
    }
    
    header
    {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    .right
    {
        width: 33%;
        
    }

    .middle
    {
        width: 33%;
       
    }

    .left
    {
        width: 33%;
    }
    .card
    {
        height: 40%;
    }

    


}

